.hero {
    background-color: var(--hero-background-color);
    display: flex;
    flex-direction: column;
}

.hero-wrapper {
    margin-left: 200px;
}

.hero-logo {
    margin-top: 40px;
    max-width: 479px;
}

.logo {
    cursor: pointer;
}

.mobile-logo {
    display: none;
}

.hero-content {
    margin-top: 492px;
    max-width: 1130px;
}

.hero-title {
    color: var(--text-color-inverse);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.hero-description-container {
    margin-top: 40px;
}

.hero-description {
    color: var(--text-color-white);
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.hero-information {
    margin: 40px 0 40px 0;
    justify-content: flex-start;
}

.hero-information a {
    text-decoration: none;
    justify-content: space-between;
    color: var(--text-color-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right: 5%;
}

.hero-information a:nth-child(3) {
    margin: 0;
}

.hero hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.25);
    margin-top: 40px;
    width: 90%;
}

/* Tablet */

@media screen and (max-width: 1024px) {
    .hero-title {
        font-size: 16px;
        line-height: 16px;
    }

    .hero-description {
        font-size: 56px;
        line-height: 67px;
    }

    .hero-wrapper {
        margin-left: 40px;
    }

    .hero-content {
        margin-top: 537px;
        max-width: 944px;
        min-height: 268px;
    }

    .hero-information a {
        font-size: 16px;
    }

    .hero hr {
        width: 95%;
    }
}

/* Mobile */

@media screen and (max-width: 481px) {
    .hero-wrapper {
        margin-left: 20px;
    }

    .main-logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
    }

    .hero-title {
        font-size: 14px;
    }

    .hero-description {
        font-size: 36px;
        line-height: 120%;
    }

    .hero-content {
        margin-top: 237px;
        max-width: 335px;
    }

    .hero-information a {
        font-size: 14px;
        line-height: 120%;
    }

    .hero hr {
        width: 95%;
    }

    .hero-logo {
        margin-top: 20px;
    }
}