.process {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.process-wrapper {
    margin-top: 160px;
    margin-left: 12%;
}

.process-content {
    max-width: 90%;
}

.process-content-title {
    color: var(--text-color-black);
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 60px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 160px;
}

.card {
    width: 220px;
    margin-bottom: 40px;
}

.card-title {
    color: var(--text-color-black);
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.card-text {
    color: var(--text-color-secondary);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.card-image {
    width: 220px;
    height: 180px;
}

/* Tablet */

@media screen and (max-width: 1024px) {
    .process-content-title {
        font-size: 40px;
    }

    .process-wrapper {
        margin-left: 5%;
        margin-top: 120px;
        justify-content: center;
    }

    .card-image {
        width: 206px;
        height: 168px;
    }

    .card-image img {
        width: 206px;
    }

    .card-title {
        font-size: 26px;
    }

    .card-text {
        font-size: 16px;
    }

    .process-content {
        max-width: 95%;
    }

    .card {
        margin-bottom: 40px;
    }

    .cards {
        margin-bottom: 116px;
    }
}

/* Mobile */

@media screen and (max-width: 481px) {
    .process-content-title {
        font-size: 38px;
        margin-bottom: 40px;
    }

    .process-wrapper {
        margin-top: 80px;
    }

    .card-image {
        width: 157px;
        height: 128px;
    }

    .card-image img {
        width: 157px;
        height: 128px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-text {
        font-size: 14px;
        line-height: 160%;
    }

    .card {
        width: 157px;
        margin-bottom: 40px;
    }

    .cards {
        margin-bottom: 80px;
    }
}