@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    --hero-background-color: #575478;
    --background-color: #FFF;
    --text-color-white: #FFF;
    --text-color-black: #000;
    --text-color-secondary: #5F5D66;
    --text-color-inverse: rgba(255, 255, 255, 0.5);
}

body {
    font-family: Arial, serif;
}

hr {
    border: none;
    height: 1px;
    background-color: #F3F3F3;
    color: #F3F3F3;
}

